<!DOCTYPE html>
<html>
<head>
<title>404</title>

<style>
body {
	background-image: url("http://rady.ucsd.edu/images/404-background.jpg");
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	height:180px;
	width:200px;
	}

h2 {
  width: 940px;
  .center-block();
  font-size: x-large;
  color: #BF322E;
  font-family: sans-serif;

   position: absolute;
   top: 50%;
}

</style>
</head>

<body>

<h2>Sorry! This page that does not exist. You can always go to the <a href="/homepage">homepage</a> and try again.</h2>


<% include partials/footer  %>
